@import './message-window.css';
@import './game-window.css';

#body {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: rgb(221, 175, 252);
}

#body, button {
	font-family: 'TypoRoundLight', sans-serif;
}

button {
	border: none;
	background-color: transparent;
}