@import './message-window.css';
@import './game-window.css';

#body {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: lightskyblue;
}

#body, button {
	font-family: 'TypoRoundLight', sans-serif;
}