#footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 8px;
	font-family: 'TypoRoundLight', sans-serif;
	background-color: rgb(113, 47, 255);
	color: white;
}

#github-logo {
	width: 25px;
	height: 25px;
}

#footer > p > a {
	color: rgb(177, 246, 255);
	font-weight: bold;
}