#game-window h2 {
	text-align: center;
}

#game-window {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.game-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	gap: 1px;
}

.cell {
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 4px;
}

#p1-board .cell.has-ship {
	background-color: #3343AE;
}

.cell.valid {
	background-color: green;
}

.cell.invalid {
	background-color: red;
}

#p1-board .cell.has-ship.hit, #p2-board .cell.has-ship.hit {
	background-color: green;
}

.cell.hit {
	background-color: red;
}

.board-info {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: repeat(5, 1fr);
}

.board-info p {
	font-size: 8px;
}

.game-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

.progress-meter {
	width: 50px;
}