@import './game-board.css';
@import './game-buttons.css';
@import './board-info.css';

#game-window h2 {
	text-align: center;
}

#game-window {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.board-label {
	text-align: center;
	margin-bottom: 8px;
	font-size: 24px;
}