.game-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	gap: 2px;
	background-color: skyblue;
	padding: 4px;
	border: 4px solid navy;
	border-radius: 4px;
	margin-bottom: 8px;
}

#p2-board .cell:not(.hit):hover {
	background-color: rgb(147, 255, 248);
}

.cell {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 4px;
}

#p1-board .cell.has-ship, #p2-board .cell.has-ship.hit {
	background-color: #3343AE;
}

.cell.valid {
	background-color: rgb(147, 255, 248);
}

.cell.invalid {
	background-color: rgb(255, 92, 92);
}

#p1-board .cell.has-ship.hit::after, #p2-board .cell.has-ship.hit::after {
	content: url('../../assets/cross.svg');
	position: absolute; 
	inset: 0;
	margin: auto;
	width: 30px;
	height: 30px;
}

.cell.hit::after {
	content: url('../../assets/dot.svg');
	position: absolute; 
	inset: 0;
	margin: auto;
	width: 30px;
	height: 30px;
}