.game-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	border: 0.5px solid black;
}

#game-window h2 {
	text-align: center;
}

.cell {
	width: 30px;
	height: 30px;
	border: 0.5px solid black;
}