#message-window {
	display: grid;
	grid-template-columns: 1fr auto auto;
	padding: 0px 8px 8px 8px;
	font-family: 'TypoRoundLight', sans-serif;
}

.game-message {
	text-align: center;
}

.start-button {
	width: 100px;
	height: 40px;
	margin: auto;
}