#message-window {
	height: 48px;
	display: grid;
	grid-template-columns: 1fr auto 60px;
	margin-bottom: 16px;
	background-color: rgb(58, 13, 156);
	color: white;
	gap: 24px;
}

.game-message {
	text-align: center;
	margin: auto;
	font-size: 20px;
}

#message-window button {
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}

#message-window button:active {
	color: rgb(147, 255, 248);
}

.start-button {
	font-size: 24px;
	transition: font-size 0.5s ease;
}

.start-button:hover {
	font-size: 28px;
}

#turn-counter {
	margin: auto;
}

.restart-button {
	font-size: 16px;
	margin-right: 16px;
	transition: font-size 0.5s ease;
}

.restart-button:hover {
	font-size: 18px;
}