#message-window {
	height: 48px;
	display: grid;
	grid-template-columns: 1fr auto auto;
	margin-bottom: 16px;
	background-color: rgb(58, 13, 156);
	color: white;
	gap: 24px;
}

.game-message {
	text-align: center;
	margin: auto;
	font-size: 20px;
}

#message-window button {
	color: white;
	margin-top: auto;
	margin-bottom: auto;
}

.start-button {
	font-size: 24px;
}

#turn-counter {
	margin: auto;
}

.restart-button {
	font-size: 16px;
	margin-right: 16px;
}